.ccCanlendar-container{
	box-shadow: 0 5px 15px -5px rgba(0,0,0,.506);
	background: #FFF;
	border-bottom: 1px solid #BBB;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top: 1px solid #CCC;
	color: #333;
	font-family: MicroSoft Yahei,"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 2px 12px 12px 12px;
	position: absolute;
	z-index: 160;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size:14px;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
}
.ccCanlendar-hourPanel,.ccCanlendar-minitePanel{
	float:left;
	margin-left:10px;
}
.ccCanlendar-hourPanel-hd,
.ccCanlendar-minitePanel-hd,
.ccCanlendar-datePanel-hd,
.ccCanlendar-datePanel-next-hd{
	padding:5px 0;
	text-align:center;
	position:relative;
}
.ccCanlendar-hourPanel-hd,
.ccCanlendar-minitePanel-hd,
.ccCanlendar-hourPanel-bd,
.ccCanlendar-minitePanel-bd{
	width:56px;
	text-align:center;
}
.ccCanlendar-hourPanel-bd,
.ccCanlendar-minitePanel-bd{
	height:161px;
	overflow:hidden;
}
.ccCanlendar-viewport{
	height:138px;
	overflow:hidden;
	border:#ccc 1px solid;
	border-top:0;
	border-bottom:0;
	position:relative;
}
.ccCanlendar-scrollpane{
	position:relative;
}
.ccCanlendar-scrollbar{
	position: absolute;
	width: 7px;
	height: 100%;
	top: 0;
	right: 0;
}
.ccCanlendar-scrollthumb{
	position:relative;
	width:7px;
	background-color:#999;
	border-radius:3px;
	cursor:pointer;
}
.ccCanlendar-hour,
.ccCanlendar-minite{
	background: #F5F5F5;
	border-top: 1px solid #DDD;
	color: #333;
	font-size: 12px;
	text-align: center;
	border-collapse: collapse;
	cursor: pointer;
	border-bottom-width: 0;
	height: 23px;
	line-height: 23px;
}
.ccCanlendar-datePanel,
.ccCanlendar-datePanel-next{
	float:left;
}
.ccCanlendar-datePanel-bd,
.ccCanlendar-datePanel-next-bd{
	height:161px;
	background: #F5F5F5;
}
.ccCanlendar-datePanel-next{
	margin-left:10px;
}
.ccCanlendar-date-table{
	border-collapse:collapse;
}
.ccCanlendar-date{
	border-bottom: 1px solid #F5F5F5;
	color: #333;
	font-size: 12px;
	text-align: right;
	cursor: pointer;
	height: 22px;
	padding:0 8px;
}
.ccCanlendar-date-td-weekname{
	width: 14.2857142%;
	text-align: center;
	border-bottom: 1px solid #DDDDDD;
	color: #666666;
	font-size: 12px;
	text-align: right;
	padding: 0px;
	border-collapse: collapse;
	height: 22px;
	width:13px;
	padding:0 8px;
	background-color:#333;
	color:white;
}
.ccCanlendar-date-false,.ccCanlendar-hour-false,.ccCanlendar-minite-false{
	cursor:default;
	color:#ccc;
}
.ccCanlendar-arrow-left,
.ccCanlendar-arrow-right{
	position:absolute;
}
.ccCanlendar-arrow-left{
	left:0;
}
.ccCanlendar-arrow-right{
	right:0;
}
.ccCanlendar-arrow-left i,
.ccCanlendar-arrow-right i{
	display:inline-block;
	border-top:transparent 5px solid;
	border-bottom:transparent 5px solid;
	vertical-align:top;
	position:relative;
	top:4px;
	cursor:pointer;
}
.ccCanlendar-arrow-left i{
	border-right:#666 5px solid;
}
.ccCanlendar-arrow-right i{
	border-left:#666 5px solid;
}
.ccCanlendar-arrow-up,
.ccCanlendar-arrow-down{
	height:10px;
	position:relative;
	z-index:2;
	background-color:#F5F5F5;
	cursor:pointer;
}
.ccCanlendar-arrow-up i,
.ccCanlendar-arrow-down i{
	display:inline-block;
	border-left:transparent 5px solid;
	border-right:transparent 5px solid;
	vertical-align:top;
	position:relative;
	top:3px;
}
.ccCanlendar-arrow-up{
	border:#ccc 1px solid;
	border-bottom:0;
}
.ccCanlendar-arrow-up i{
	border-bottom:#666 5px solid;
}
.ccCanlendar-arrow-down{
	border:#ccc 1px solid;
}
.ccCanlendar-arrow-down i{
	border-top:#666 5px solid;
}
.ccCanlendar-today,.ccCanlendar-holiday{
	color:red;
}
.ccCanlendar-dropdown-menu{
	display:inline-block;
	position:relative;
}
.ccCanlendar-dropdown-menu i{
	font-style:normal;
	padding:0 6px;
	cursor:pointer;
	text-decoration:underline;
}
.ccCanlendar-dropdown-menu-box{
	position:absolute;
	border-top:#ccc 1px solid;
	border-bottom:#ccc 1px solid;
}
.ccCanlendar-option{
	background-color:white;
	height:23px;
	line-height:23px;
	font-size:12px;
	cursor:pointer;
}
.ccCanlendar-inputIcon {
    background:url(ccCanlendar.gif);
    width:16px;
    height:13px;
    position:absolute;
    z-index:9;
    cursor:pointer;
    bottom: 8px;
    right: 8px;
}
.ccCanlendar-option.ccCanlendar-hover{
	background-color:#FC3;
}
.ccCanlendar-date.ccCanlendar-hover{
	background-color:#FC3;
}
.ccCanlendar-hour.ccCanlendar-hover{
	background-color:#FC3;
}
.ccCanlendar-minite.ccCanlendar-hover{
	background-color:#FC3;
}
.ccCanlendar-select{
	background-color:#F78015;
	color:white;
}
.ccCanlendar-select.ccCanlendar-hover{
	background-color:#F78015;
	color:white;
}
.ccCanlendar-scrollthumb.ccCanlendar-hover{
	background-color:#333;
}
.ccCanlendar-arrow-up.ccCanlendar-hover i,
.ccCanlendar-arrow-down.ccCanlendar-hover i{
	border-color:#333;
	border-left-color:transparent;
	border-right-color:transparent;
}
.ccCanlendar-arrow-left.ccCanlendar-hover i{
	border-right:#666 5px solid;
}
.ccCanlendar-arrow-right.ccCanlendar-hover i{
	border-left:#666 5px solid;
}

