<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.framework.mapper.PlayerHonorMapper">
	<sql id="playerHonor">
		id,
		user_id,
		name,
		describle,
		image_src,
		create_time
	</sql>

	<insert id="save" parameterType="com.yt.framework.persistent.entity.PlayerHonor">
		INSERT INTO p_player_honor(
			id,
			user_id,
			name,
			describle,
			image_src,
			create_time
		)VALUES(
			#{id},
			#{user_id},
			#{name},
			#{describle},
			#{image_src},
			NOW()
		)
	</insert>

	<update id="update" parameterType="com.yt.framework.persistent.entity.PlayerHonor">
		UPDATE p_player_honor
		SET
			name=#{name},
			describle=#{describle},
			image_src=#{image_src}
		WHERE
		id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM p_player_honor WHERE id = #{id}
	</delete>

	<select id="getEntityById" resultType="com.yt.framework.persistent.entity.PlayerHonor">
		SELECT
		<include refid="playerHonor" />
		FROM p_player_honor WHERE id = #{id}
	</select>
	<select id="getByUserId" resultType="com.yt.framework.persistent.entity.PlayerHonor">
		SELECT
		<include refid="playerHonor" />
		FROM p_player_honor WHERE user_id = #{userId}
	</select>
	<select id="queryByUserId" resultType="com.yt.framework.persistent.entity.PlayerHonor">
		SELECT
		<include refid="playerHonor" />
		FROM p_player_honor WHERE user_id = #{userId}
	</select>
</mapper>
